body {
  margin-top: 5vh;
  background-image: url("../img/background.png");
  color: #8111e9;
}
.container {
  background-color: rgba(0, 0, 0, 0.726);
  padding: 3vmin;
  text-align: center;
}

#code-tar {
  width: 15%;
}

#quiz {
  color: #b286db;
}
.question img {
  width: 15vmin;
}

.result {
  color: #b286db;
  font-size: 1.5rem;
}

.result h2 {
  font-size: 3rem;
  color: #b286db;
}

.result img {
  width: 20vmin;
  float: left;
}
#fighter-div {
  font-size: 2rem;
  padding: 2vw;
  color:rgb(87, 236, 236);
}

#fighter-image {
  width: 20vmin;
}

.retake {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hidden {
  display: none;
}

.question {
  display: none;
  padding: 2vmin;
  color: rgb(178, 134, 219);
}

.active-question {
  display: block;
}