.question img {
  width: 15vmin;
}

.result img {
  width: 20vmin;
  float: left;
}

#fighter-div img {
  width: 20vmin;
}

.hidden {
  display: none;
}

.question {
  display: none;
}

.active-question {
  display: block;
  height: 20vmin;
}

.btn-submit {
  float: right;
}